<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<br>
<br>

<% @cocktail.doses.each do |dose| %>
<%= dose.description %><%= dose.ingredient.name %>
<%= link_to cocktail_path(dose), method: :delete, class: "text-delete" do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
<% end %>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>

<%= link_to "Back to the list of cocktails", root_path %>




