<div class="container">
  <div class="small-container">
<h1>Add ingredients to <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, :label => "Quantity" %>
  <%= f.input :ingredient_id, :as => :select, :collection => Ingredient.all %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<br>
<br>
<%= link_to "Back to the list of cocktails", root_path %>
</div>
</div>
